@charset "UTF-8";
/* Переменные (через $) */
/* === wrapper === */
/* Обёртки - отдельный блок */
body {
  margin: 0;
}

/*Строки для того, чтобы не выскакивала рамка 
при нажатии и наведении на кнопку (ссылку)*/
button,
button:active,
button:focus {
  outline: none;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  /* Обёртка для прижатия подвала к нижней части */
}

.wrapper-container {
  padding: 0 120px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper-forcontent {
  min-height: 100vh;
  /* 100 видимых высот */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* end === wrapper === end */
/* === content-without-footer === */
/* Основная часть без footer */
.content-without-footer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  /* Отношение блоков */
}

/* end === content-without-footer === end */
/* Шрифты */
/* opensans */
@font-face {
  font-family: opensans;
  src: url(../fonts/opensans-bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: opensans_normal;
  src: url(../fonts/opensans-regular.ttf);
  font-weight: 400;
  font-style: normal;
}

/* bebasneue */
@font-face {
  font-family: bebasneue;
  src: url(../fonts/bebasneue-regular.ttf);
  font-weight: 700;
  font-style: normal;
}

/* bebasneue bold */
/* mixin */
/* шрифты через миксин*/
body {
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.top_section {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.9))), url(../img/top_img/bg_image_top.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/top_img/bg_image_top.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.top_section_wrp {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sos_txt {
  font-family: bebasneue;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  padding-top: 160px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.social_txt {
  font-family: bebasneue;
  font-weight: 700;
  font-style: normal;
  font-size: 80px;
  line-height: 80px;
  margin-top: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 411px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.line {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 650px;
  border-bottom: 3px solid white;
}

.about_game_txt {
  font-family: opensans_normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 60px;
  width: 365px;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  color: #FFFFFF;
  padding-bottom: 358px;
}

.top_section_img_1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  position: absolute;
  z-index: 100;
  top: 120px;
  right: 100px;
}

.top_section_img_2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  position: absolute;
  z-index: 80;
  top: 130px;
  right: 75px;
}

.top_section_img_3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  position: absolute;
  z-index: 30;
  top: 140px;
  right: 55px;
}

.arrow {
  position: absolute;
  z-index: 30;
  top: 440px;
  right: 15px;
  stroke: white;
}

.arrow:hover {
  stroke: grey;
}

.arrow:active {
  stroke: white;
}

/* index */
.header-background {
  background-image: url(../img/bg-game.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu-logo {
  display: block;
  margin-top: 22px;
  margin-right: 119px;
}

.header-menu-logo-img {
  display: block;
}

.header-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 22px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-menu-list-li {
  font-family: opensans;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-right: 40px;
}

.header-menu-list-li:last-child {
  margin-right: 118px;
}

.header-menu-list-li:hover {
  cursor: pointer;
  color: #FFB548;
}

.header-menu-end {
  margin-top: 38px;
  margin-right: 25px;
  position: relative;
}

.header-menu-end-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu-end-txt {
  font-family: opensans;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header-menu-end-txt:hover {
  cursor: pointer;
  color: #FFB548;
}

.header-menu-end-txt:hover ~ .header-menu-end-svg {
  cursor: pointer;
  fill: #FFB548;
}

.header-menu-end-svg {
  margin-left: 6px;
  margin-top: 4px;
  fill: #FFFFFF;
  cursor: pointer;
}

.header-menu-end-language {
  display: none;
}

.header-menu-end-language-ol {
  position: absolute;
  display: none;
  list-style: none;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 3px;
  top: 8px;
  left: -5px;
  padding: 5px 21px 5px 7px;
}

.header-menu-end-language-ol-li {
  font-family: opensans;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}

.header-menu-end-language-ol-li:hover {
  color: #FFB548;
}

.header-menu-link {
  margin-top: 32px;
}

.header-menu-link:nth-child(4) {
  margin-right: 17px;
}

.header-menu-link:nth-child(4)::before {
  content: "";
  opacity: 0.5;
  border-left: 0.87397px solid #FFFFFF;
  padding-left: 25px;
  padding-top: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-menu-link-img {
  margin-top: 10px;
}

.header-title-txt {
  font-family: bebasneue;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  color: #FFFFFF;
}

.header-title-txt:first-child {
  font-family: bebasneue;
  font-weight: 700;
  font-style: normal;
  font-size: 80px;
  line-height: 80px;
  margin-top: 222px;
  margin-bottom: 7px;
}

.header-title-button {
  cursor: pointer;
  display: block;
  margin: 29px auto 383px;
  padding: 17px 17px 20px;
  background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 4px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-title-button:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.header-title-button-txt {
  display: block;
  font-family: opensans;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  margin-right: 11px;
}

.header-title-button-price {
  display: block;
  font-family: opensans;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
}

.header-title-button-price::before {
  content: "";
  border-left: 0.87397px solid #1A1917;
  padding-left: 14px;
}

.header-title-link {
  display: block;
  padding-bottom: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

.header-title-link-txt {
  font-family: opensans;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.header-title-link-svg {
  display: block;
  margin: 0 auto;
  fill: #FFFFFF;
  fill: black;
  stroke: #FFFFFF;
}

.header-title-link-svg:hover {
  fill: #FFB548;
  stroke: #1A1917;
}

#check-menu:checked ~ .header-menu-end-language-ol {
  display: block;
}

/*end index end*/
/*# sourceMappingURL=style.css.map */