/* Шрифты */ 

/* opensans */
@font-face {
    font-family: opensans;
    src: url(../fonts/opensans-regular.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: opensans_normal;
    src: url(../fonts/opensans-regular.ttf);
    font-weight: 400;
    font-style: normal;
}

/* bebasneue */
@font-face {
    font-family: bebasneue;
    src: url(../fonts/bebasneue-regular.ttf);
    font-weight: 700;
    font-style: normal;
}

/* bebasneue bold */

