/* Шрифты */ 

/* opensans */
@font-face {
    font-family: opensans;
    src: url(../fonts/opensans-bold.ttf);
    font-weight: 700;
    font-style: normal;
}

/* bebasneue */
@font-face {
    font-family: bebasneue;
    src: url(../fonts/bebasneue-regular.ttf);
    font-weight: 700;
    font-style: normal;
}