body {
    margin: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.top_section {
    // box-sizing: border-box;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/top_img/bg_image_top.png);
    background-repeat: no-repeat;
    background-size: cover;

    // width: 100%;
    // height: 1050px;
    &_wrp {
        position: relative;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
    }
}

.sos_txt {
    @include fonts(bebasneue, 400, 24px, 24px);
    padding-top: 160px;
    box-sizing: border-box;
    display: block;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.social_txt {
    @include fonts(bebasneue, 700, 80px, 80px);
    margin-top: 10px;
    box-sizing: border-box;
    display: block;
    width: 411px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.line {
    box-sizing: border-box;
    width: 650px;
    border-bottom: 3px solid white;
}

.about_game_txt {
    font-family: opensans_normal;
    box-sizing: border-box;
    margin-top: 60px;
    width: 365px;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    color: #FFFFFF;
    padding-bottom: 358px;
}

.top_section_img {}

.top_section_img_1 {
    box-sizing: border-box;
    border-radius: 10px;
    position: absolute;
    z-index: 100;
    top: 120px;
    right: 100px;
}


.top_section_img_2 {
    box-sizing: border-box;
    border-radius: 10px;
    position: absolute;
    z-index: 80;
    top: 130px;
    right: 75px;
}


.top_section_img_3 {
    box-sizing: border-box;
    border-radius: 10px;
    position: absolute;
    z-index: 30;
    top: 140px;
    right: 55px;
}

.arrow_btn {}

.arrow {
    position: absolute;
    z-index: 30;
    top: 440px;
    right: 15px;
    stroke: white;
}

.arrow:hover {
    stroke: grey;
}

.arrow:active {
    stroke: white;
}

/* index */
.header {
    &-background {
        background: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%);
        background-image: url(../img/bg-game.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    &-menu {
        display: flex;

        &-logo {
            display: block;
            margin-top: 22px;
            margin-right: 119px;

            &-img {
                display: block;
            }
        }

        &-list {
            display: flex;
            list-style: none;
            padding: 22px 0;
            box-sizing: border-box;

            &-li {
                @include fonts(opensans, 700, 12px, 16px);
                text-transform: uppercase;
                color: $white;
                margin-right: 40px;

                &:last-child {
                    margin-right: 118px;
                }

                &:hover {
                    cursor: pointer;
                    color: $yellow-dust;
                }
            }
        }

        &-end {
            margin-top: 38px;
            margin-right: 25px;
            position: relative;

            &-label {
                display: flex;
            }

            &-txt {
                @include fonts(opensans, 700, 12px, 16px);
                text-transform: uppercase;
                color: $white;

                &:hover {
                    cursor: pointer;
                    color: $yellow-dust;
                }

                &:hover~.header-menu-end-svg {
                    cursor: pointer;
                    fill: $yellow-dust;
                }
            }

            &-svg {
                margin-left: 6px;
                margin-top: 4px;
                fill: $white;
                cursor: pointer;
            }

            &-language {
                display: none;

                &-ol {
                    position: absolute;
                    display: none;
                    list-style: none;
                    background: rgba(0, 0, 0, 0.75);
                    border-radius: 3px;
                    top: 8px;
                    left: -5px;
                    padding: 5px 21px 5px 7px;

                    &-li {
                        @include fonts(opensans, 700, 12px, 16px);
                        text-transform: uppercase;
                        color: $white;
                        cursor: pointer;

                        &:hover {
                            color: $yellow-dust;
                        }
                    }
                }


            }
        }

        &-link {
            margin-top: 32px;

            &:nth-child(4) {
                margin-right: 17px;

                &::before {
                    content: "";
                    opacity: 0.5;
                    border-left: 0.873968px solid $white;
                    padding-left: 25px;
                    padding-top: 15px;
                    box-sizing: border-box;
                }
            }

            &-img {
                margin-top: 10px;
            }
        }
    }

    &-title {

        &-txt {
            @include fonts(bebasneue, 700, 24px, 24px);
            text-transform: uppercase;
            display: block;
            text-align: center;
            color: $white;

            &:first-child {
                @include fonts(bebasneue, 700, 80px, 80px);
                margin-top: 222px;
                margin-bottom: 7px;
            }
        }

        &-button {
            display: block;
            margin: 29px auto 383px;
            padding: 17px 17px 20px;
            background: linear-gradient(194.68deg, $yellow-dust 11.27%, #F3AF34 90.4%);
            border-radius: 4px;
            border: none;
            box-sizing: border-box;
            display: flex;

            &:hover {
                transform: scale(1.5);
            }

            &-txt {
                display: block;
                @include fonts(opensans, 700, 16px, 22px);
                margin-right: 11px;
            }

            &-price {
                display: block;
                @include fonts(opensans, 700, 16px, 22px);

                &::before {
                    content: "";
                    border-left: 0.873968px solid $black;
                    padding-left: 14px;
                }
            }
        }

        &-link {
            display: block;
            padding-bottom: 60px;
            box-sizing: border-box;
            text-decoration: none;

            &-txt {
                @include fonts(opensans, 700, 12px, 22px);
                text-transform: uppercase;
                color: $white;
                display: block;
                text-align: center;
                margin-bottom: 10px;
            }

            &-svg {
                display: block;
                margin: 0 auto;
                fill: $white;
                fill: black;
                stroke: $white;

                &:hover {
                    fill: $yellow-dust;
                    stroke: $black;
                }
            }
        }
    }
}

#check-menu:checked~.header-menu-end-language-ol {
    display: block;
}

/*Блок №3*/
.survive {
    &-background {
        background-image: radial-gradient(51.1% 80.48% at 30.85% 53.65%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.520671) 47.48%, #080A0B 99.74%), url(../img/back-man-bl-3.png);
        background-size: cover;
    }

    &-padd {
        padding: 169px 0 258px 679px;
        box-sizing: border-box;
    }

    &-question {
        display: block;
        @include fonts(bebasneue, 700, 24px, 24px);
        color: $white;
        margin-bottom: 9px;

        &:nth-child(2) {
            @include fonts(bebasneue, 700, 80px, 80px);
            margin-bottom: 71px;
        }
    }

    &-list {
        max-width: 320px;

        &-li {
            @include fonts(bebasneue, 700, 36px, 36px);
            color: $white;
            list-style-type: circle;
            list-style-position: 2px;

            &-txt {
                color: $yellow-dust;
            }

            &-paragraph {
                @include fonts(opensans_, 400, 18px, 22px);
                margin-top: 5px;
                margin-bottom: 28px;
            }

            &:first-child{
                list-style-type: disc;
            }

            &:nth-child(2) {
                margin-bottom: 37px;
            }
        }
    }
}

/*end Блок №3*/


// =================newsletter=============

.bottom_section{
    height: 960px;    
    width: 100%;
    background-image: radial-gradient(33.26% 45% at 64.32% 47.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%), url(../img/top_img/bg_image_4.png);
    background-repeat: no-repeat;
    background-size: cover;

    &_title{
        box-sizing: border-box;
        text-align: center;
        
        &_first{
            box-sizing: border-box;
            padding-top: 145px;
            display: block;
            color: $white;
            @include fonts(bebasneue, 700, 24px, 24px);
            letter-spacing: 2px;
        }

        &_second{
            padding-bottom: 134px;
            box-sizing: border-box;
            display: block;
            color: $white;
            @include fonts(bebasneue, 700, 80px, 80px);
            letter-spacing: 3px;
        }
    }

    &_table{
        width: 50%;
        border-collapse:collapse;
        border-spacing:0;
        height: auto;
        color: white;

        &_bold{
            @include fonts(bebasneue, 700, 24px, 24px);
            color: $yellow-dust;
        }

        &_normal{
            display: block;
            margin: 7px 0 31px 0;
            @include fonts(opensans_normal, 400, 18px, 22px);
            color: $white;
        }
    }
    &_table, 
    &_table td, 
    &_table th {
        border: 0.5px solid rgba(151, 151, 151, 0.1);
        
    }
    &_table td,
    &_table th {
        padding: 14px;
        width: 30px;
        height: 35px;
    }
    &_table th {
        background: $pearl-light-grey; 
        color: $white; 
        
    }
}

/* Пятая секция */
.think {
    &-background {
        background-image: radial-gradient(0.2% 44.27% at 28.0% 47.47%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 51.1%, $blackish-blue 99.74%), url(../img/background_5.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    &-fl {
        padding-top: 160px;
        padding-bottom: 148px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
    }

    &-left-side {
        max-width: 435px;
        margin-right: 194px;

        &-question {
            display: block;
            @include fonts(bebasneue, 700, 24px, 24px);
            color: $white;
            margin-bottom: 8px;

            &:nth-child(2) {
                font-size: 80px;
                line-height: 80px;
            }

            &-p {
                @include fonts (opensans_normal, 400, 18px, 22px);
                color: $white;
                margin-top: 50px;
                margin-bottom: 40px;
            }
        }

        &-button {
            @include fonts(opensans, 700, 18px, 22px);
            color: $black;
            padding: 18px 35px;
            background: linear-gradient(194.68deg, $yellow-dust 11.27%, $light-yellow 90.4%);
            border-radius: 4px;
            border: none;
    
            &:hover {
                transform: scale(1.5);
            }
        }
    }

    &-right-side {
        &-card {
            width: 453px;
            background: rgba(255, 255, 255, 0.08);
            border-radius: 10px;
            position: relative;
            padding-top: 26px;
            padding-bottom: 21px;
            box-sizing: border-box;
            margin-bottom: 30px;
            margin-left: 145px;

            &:first-child .think-right-side-card-svg{
                bottom: 129px;
            }

            &:nth-child(2){
                margin-right: 145px;
                margin-left: 0;

                & .think-right-side-card-img{
                    background-image: url(../img/card/woman-card-between.png);
                    background-position-y: -5px;
                    background-size: 70px;
                }
            }

            &:last-child{
                margin-bottom: 0;

                & .think-right-side-card-img{
                    background-image: url(../img/card/men-card-last.png);
                    background-position-y: -5px;
                    background-size: 70px;
                }
            }
    
            &-img {
                width: 65px;
                height: 65px;
                border-radius: 50%;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                z-index: 2;
                top: 14px;
                left: 17px;
    
                &-orange {
                    width: 65px;
                    height: 65px;
                    border-radius: 50%;
                    background-color: $yellow-dust;
                    position: absolute;
                    z-index: 1;
                    top: 15px;
                    left: 25px;
                }
    
                &:first-child {
                    background-image: url(../img/card/men-card-up.png);
                    background-position-y: -5px;
                    background-size: 70px;
                }
                
            }
    
            &-title {
                display: block;
                margin-left: 109px;
                @include fonts(bebasneue, 700, 24px, 24px);
                letter-spacing: 2px;
                color: $yellow-dust;
                margin-bottom: 2px;
            }
    
            &-device {
                display: block;
                margin-left: 106px;
                @include fonts (opensans, 400, 18px, 22px);
                opacity: 0.5;
                color: $white;
                margin-bottom: 20px;
            }
    
            &-comment {
                display: block;
                margin-left: 17px;
                @include fonts (opensans, 400, 18px, 25px);
                color: $white;
                margin-bottom: 9px;
            }
    
            &-date {
                display: block;
                margin-left: 17px;
                @include fonts (opensans, 400, 14px, 20px);
                color: $white;
                opacity: 0.5;
                mix-blend-mode: normal;
            }
    
            &-svg {
                position: absolute;
                bottom: 152px;
                left: 407px;
                opacity: 0.3;
                fill: $white;
    
                &:hover {
                    fill: rgb(91, 91, 209);
                    opacity: 1;
                }
            }
        }
    }
}

/*end Пятая секция end*/

/*end index end*/