/* index */
.header {
    &-background {
        background-image: url(../img/bg-game.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    &-menu {
        display: flex;

        &-logo {
            display: block;
            margin-top: 22px;
            margin-right: 119px;

            &-img {
                display: block;
            }
        }

        &-list {
            display: flex;
            list-style: none;
            padding: 22px 0;
            box-sizing: border-box;

            &-li {
                @include fonts(opensans, 700, 12px, 16px);
                text-transform: uppercase;
                color: $white;
                margin-right: 40px;

                &:last-child {
                    margin-right: 118px;
                }

                &:hover {
                    cursor: pointer;
                    color: $yellow-dust;
                }
            }
        }

        &-end {
            margin-top: 38px;
            margin-right: 25px;
            position: relative;

            &-label {
                display: flex;
            }

            &-txt {
                @include fonts(opensans, 700, 12px, 16px);
                text-transform: uppercase;
                color: $white;

                &:hover {
                    cursor: pointer;
                    color: $yellow-dust;
                }

                &:hover~.header-menu-end-svg {
                    cursor: pointer;
                    fill: $yellow-dust;
                }
            }

            &-svg {
                margin-left: 6px;
                margin-top: 4px;
                fill: $white;
                cursor: pointer;
            }

            &-language {
                display: none;

                &-ol {
                    position: absolute;
                    display: none;
                    list-style: none;
                    background: rgba(0, 0, 0, 0.75);
                    border-radius: 3px;
                    top: 8px;
                    left: -5px;
                    padding: 5px 21px 5px 7px;

                    &-li {
                        @include fonts(opensans, 700, 12px, 16px);
                        text-transform: uppercase;
                        color: $white;
                        cursor: pointer;

                        &:hover {
                            color: $yellow-dust;
                        }
                    }
                }


            }
        }

        &-link {
            margin-top: 32px;

            &:nth-child(4) {
                margin-right: 17px;

                &::before {
                    content: "";
                    opacity: 0.5;
                    border-left: 0.873968px solid $white;
                    padding-left: 25px;
                    padding-top: 15px;
                    box-sizing: border-box;
                }
            }

            &-img {
                margin-top: 10px;
            }
        }
    }

    &-title {

        &-txt {
            @include fonts(bebasneue, 700, 24px, 24px);
            text-transform: uppercase;
            display: block;
            text-align: center;
            color: $white;

            &:first-child {
                @include fonts(bebasneue, 700, 80px, 80px);
                margin-top: 222px;
                margin-bottom: 7px;
            }
        }

        &-button {
            display: block;
            margin: 29px auto 383px;
            padding: 17px 17px 20px;
            background: linear-gradient(194.68deg, $yellow-dust 11.27%, #F3AF34 90.4%);
            border-radius: 4px;
            border: none;
            box-sizing: border-box;
            display: flex;

            &:hover {
                transform: scale(1.5);
            }

            &-txt{
                display: block;
                @include fonts(opensans, 700, 16px, 22px);
                margin-right: 11px;
            }

            &-price{
                display: block;
                @include fonts(opensans, 700, 16px, 22px);

                &::before{
                    content: "";
                    border-left: 0.873968px solid $black;
                    padding-left: 14px;
                }
            }
        }

        &-link {
            display: block;
            padding-bottom: 60px;
            box-sizing: border-box;
            text-decoration: none;

            &-txt {
                @include fonts(opensans, 700, 12px, 22px);
                text-transform: uppercase;
                color: $white;
                display: block;
                text-align: center;
                margin-bottom: 10px;
            }

            &-svg {
                display: block;
                margin: 0 auto;
                fill: $white;
                fill: black;
                stroke: $white;

                &:hover{
                    fill: $yellow-dust;
                    stroke: $black;
                }
            }
        }
    }
}

#check-menu:checked~.header-menu-end-language-ol {
    display: block;
}

/*end index end*/