@import "_variables";
@import "_fonts";
@import "_mix";
@import "_index";


.container{
    width: 1200px;
    margin: 0 auto;
}
.top_section{
    background-image: url(../img/top_img/bg_image_top.png);
    background-repeat: no-repeat;
    width: 1440px;
    height: 1050px;
}



